In [ ]:
# Comments are not read by the Python Interpreter.

## Varibales

In [1]:
var = "My Variable"

In [2]:
print(var)

My Variable

## Naming Conventions

snake_case

camelCase

PascalCase

In [4]:
my_variable = "A new variable"

Basic Data Types

In [11]:
# Strings, ints, floats, boolean

my_str = "12,345a;sdjkfla;ðŸ˜€"
str2 = str("what our string is")
print(my_str)
str2

12,345a;sdjkfla;ðŸ˜€

'what our string is'

In [16]:
my_int = 12
int2 = int(21)
int3 = int(21.923)

print(my_int,int2,int3)

12 21 21

In [19]:
my_float = 1.111
float2 = float(1)
print(my_float,float2)

1.111 1.0

In [20]:
str(my_float)

'1.111'

In [22]:
float(my_str)

ValueError: could not convert string to float: '12,345a;sdjkfla;ðŸ˜€'

In [25]:
# booleans
boolean = True 
my_bool = bool(my_str)
boolean, my_bool

(True, True)

In [26]:
type(boolean)

bool

In [27]:
type(my_str)

str

In [30]:
is_greater_than_twelve = my_int > 12
is_greater_than_twelve

False

In [37]:
a = my_str.upper()
b = str2.capitalize()
c = str2.title()
d = str2.count("a")

print(a,b,c,d)

12,345A;SDJKFLA;ðŸ˜€ What our string is What Our String Is 1

In [38]:
len(str2)

18

In [41]:
int(my_float) + my_int

13

In [42]:
4*2

8

In [43]:
4/2

2.0

In [44]:
4**2

16

In [56]:
import math
neg = 123.22
abs(neg)
math.ceil((neg))

124